{% extends "layout.html" %}

{% block items %}
        <section id="showcase"><div class="container">
            <h1>See the trend for any Name!</h1>
            <p>Enter a name to see how it has been trending in the US from 1880-2017.
                <br><br>
                 The data for the names was sourced from https://www.ssa.gov. 
                 <br><br>
                 The count for each name is based on applications to the Social Security Administration for new borns.</p>
        </div></section>

        <section id="firstname">
            <div class="container">
                <h1>Enter the first name you would like to see the trend for</h1>
                <form action="graph" method="POST">
                    <input type="text" name="First Name" id="name">
                    <button type="submit" class="send_name">Submit</button>
                </form>
            </div>
        </section>
        <section id="graphs">
            <div class="container">
                <div class="graph">
                    <img src="{{ user_image }}" alt="User Image">
                    <h3>Your Trend</h3>
                    <p>This graph shows total number of babies born per year(2000-2017)</p>
                </div>
                <div class="graph">
                    <img src="static/img/babies_born_per_year.png">
                    <h3>Another graph</h3>
                    <p>This graph how the average number of times any name was used(2000-2017)</p>
                </div>
                <div class="graph">
                    <img src="static/img/screenshot_ssa.jpg" alt="">
                    <h3>Another one</h3>
                    <p>The information used to create your graph was in this format. It was transformed using Python libraries such as matplotlib and Pandas.</p>
                </div>
            </div>
        </section>
        {% endblock %}