{% extends "layout.html" %}

{% block nav %}
<li class="nav-item">
        <a class="nav-link" href="{{url_for('index')}}">Home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link current" href="{{url_for('about')}}">About</a>
    </li>
{% endblock %}

 {% block items %}
                <section id="showcase"><div class="container">
                        <h1>See the trend for any Name!</h1>
                        <p>Enter a name to see how it has been trending in the US from 1880-2017.
                            <br><br>
                             The data for the names was sourced from https://www.ssa.gov. 
                             <br><br>
                             The count for each name is based on applications to the Social Security Administration for new borns.</p>
                    </div></section>      
{% endblock %}